<a href="https://colab.research.google.com/github/tajuar-akash-hub/Machine-learning-algorithms/blob/main/Decison_Tree_regression_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#This is decision tree Regression

In [1]:
!git clone  https://github.com/tajuar-akash-hub/Datasets

Cloning into 'Datasets'...
remote: Enumerating objects: 50, done.
remote: Counting objects: 100% (50/50), done.
remote: Compressing objects: 100% (49/49), done.
remote: Total 50 (delta 13), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (50/50), 4.50 MiB | 4.28 MiB/s, done.
Resolving deltas: 100% (13/13), done.

In [2]:
import pandas as pd
df = pd.read_csv("/content/Datasets/Salary Data.csv")
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  373 non-null    float64
 1   Gender               373 non-null    object
 2   Education Level      373 non-null    object
 3   Job Title            373 non-null    object
 4   Years of Experience  373 non-null    float64
 5   Salary               373 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.7+ KB

In [4]:
df.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [5]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())
df['Years of Experience'] = df['Years of Experience'].fillna(df['Years of Experience'].mean())

In [6]:
most_frequent_category = df['Gender'].mode()[0]
df['Gender'] = df['Gender'].fillna(most_frequent_category)

most_frequent_category = df['Job Title'].mode()[0]
df['Job Title'] = df['Job Title'].fillna(most_frequent_category)

most_frequent_category = df['Education Level'].mode()[0]
df['Education Level'] = df['Education Level'].fillna(most_frequent_category)

In [7]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [9]:
df['Gender'] = le.fit_transform(df['Gender'])
df['Job Title'] = le.fit_transform(df['Job Title'])
df['Education Level'] = le.fit_transform(df['Education Level'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  375 non-null    float64
 1   Gender               375 non-null    int64
 2   Education Level      375 non-null    int64
 3   Job Title            375 non-null    int64
 4   Years of Experience  375 non-null    float64
 5   Salary               375 non-null    float64
dtypes: float64(3), int64(3)
memory usage: 17.7 KB

In [11]:
#feature and target separation
x=df.drop(['Salary'],axis=1)
y=df['Salary']

In [12]:
x

      Age  Gender  Education Level  Job Title  Years of Experience
0    32.0       1                0        159                  5.0
1    28.0       0                1         17                  3.0
2    45.0       1                2        130                 15.0
3    36.0       0                0        101                  7.0
4    52.0       1                1         22                 20.0
..    ...     ...              ...        ...                  ...
370  35.0       0                0        131                  8.0
371  43.0       1                1         30                 19.0
372  29.0       0                0         70                  2.0
373  34.0       1                0        137                  7.0
374  44.0       0                2        110                 15.0

[375 rows x 5 columns]

In [13]:
y

0       90000.0
1       65000.0
2      150000.0
3       60000.0
4      200000.0
         ...
370     85000.0
371    170000.0
372     40000.0
373     90000.0
374    150000.0
Name: Salary, Length: 375, dtype: float64

<h1> <font color="yellow">
No *scaling* needed for decision tree <br>
<br>
what is scaling? <br> <br>

Scaling of a dataset refers to the process of adjusting the range of feature values so that they fall within a specific range. This is often necessary because features in a dataset may have different units and scales, which can negatively affect the performance of machine learning algorithms.

</h1>

<h1> <font color="yellow">
<u> K fold cross validation
</h1>

<h1>
Reference :
https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html
</h1>

In [14]:
#see details from sklearn documentation
#decision tree

from sklearn.tree import DecisionTreeRegressor

DTregressor=DecisionTreeRegressor(criterion='squared_error',  #what does that mean? entropy mesurement for regression
                                  max_depth= 10, #max depth of tree(learn tree depth)
                                  min_samples_split= 2,
                                  min_samples_leaf = 1, #(leaf node's minimum sample)
                                  max_features= None,
                                  max_leaf_nodes= None,
                                  min_impurity_decrease = 0.01 #decrease of impurity after every split
                                  )

# explanation

| Parameter | Meaning (in simple words) |
| --- | --- |
| **criterion** | Tells the model *how to measure errors* when splitting. ðŸ”¹ `squared_error`: minimizes mean squared error (default) ðŸ”¹ `absolute_error`: uses median, good for outliers ðŸ”¹ `poisson`: for count data |
| **splitter** | How to choose where to split: ðŸ”¹ `"best"` = find the most accurate split ðŸ”¹ `"random"` = choose randomly (can add randomness for variety) |
| **max_depth** | How deep the tree can grow (how many questions it can ask). ðŸ§  If you donâ€™t limit it, the tree can *overfit* (too specific to training data). |
| **min_samples_split** | Minimum number of samples needed to make a new split. ðŸ‘‰ Higher value â†’ fewer splits â†’ simpler tree. |
| **min_samples_leaf** | Minimum number of samples in a leaf node. ðŸ‘‰ Helps make the model smoother and avoids noise. |
| **max_features** | How many features to look at when splitting. ðŸ”¹ `"sqrt"` â†’ use âˆš(total features) ðŸ”¹ `"log2"` â†’ use logâ‚‚(total features) |
| **random_state** | Keeps results the same every time you run it (reproducibility). |
| **max_leaf_nodes** | Limits how many leaves (final predictions) the tree can have. |
| **min_impurity_decrease** | Only make a split if it improves the result enough (like a â€œminimum gainâ€ rule). |
| **ccp_alpha** | Used for **pruning** â€“ cutting off weak branches to make the tree simpler and prevent overfitting. |
| **monotonic_cst** | Forces the prediction to always increase or decrease when a certain feature increases. Useful in finance (e.g., higher income â†’ higher credit score). |

In [15]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
k_fold = KFold(10) # it is now 10th fold corss validation

results1 = cross_val_score(DTregressor, x, y, cv=k_fold , scoring='neg_mean_squared_error')
results2 = cross_val_score(DTregressor, x, y, cv=k_fold , scoring= 'neg_mean_absolute_percentage_error')
results3 = cross_val_score(DTregressor, x, y, cv=k_fold , scoring= 'r2')

<h1> <font color="yellow">

why negative mean squre error ? <br>
why not only mean square error?<br>

you can check the supported â‰import sklearn
sklearn.metrics.get_scorer_names() <br>

difference between them  ?

</h1>

In [16]:
results1  #negative MSE

array([-6.21710526e+08, -9.07625004e+08, -4.98115852e+08, -2.47462787e+08,
       -1.52234394e+08, -1.54568693e+08, -1.36227118e+08, -7.34777855e+07,
       -9.55442877e+07, -2.41965499e+08])

In [17]:
results2

array([-0.20723608, -0.19956901, -0.17639303, -0.11099948, -0.08991807,
       -0.11100682, -2.77463749, -0.046849  , -0.04611907, -0.05987072])

Why we used "cross validation" ?

In [18]:
overall_MAE_percentage = sum(results2) / len(results2)
print(abs(overall_MAE_percentage)*100)

38.22598767390929

# Check how many metrices are three

In [19]:
import sklearn
sklearn.metrics.get_scorer_names()

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'completeness_score',
 'd2_absolute_error_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'matthews_corrcoef',
 'mutual_info_score',
 'neg_brier_score',
 'neg_log_loss',
 'neg_max_error',
 'neg_mean_absolute_error',
 'neg_mean_absolute_percentage_error',
 'neg_mean_gamma_deviance',
 'neg_mean_poisson_deviance',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'neg_negative_likelihood_ratio',
 'neg_root_mean_squared_error',
 'neg_root_mean_squared_log_error',
 'normalized_mutual_info_score',
 'positive_likelihood_ratio',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'rand_score',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'roc_auc_ovo',
 'roc_auc_ovo_weighted',
 'roc_auc_ovr',
 'roc_auc_ovr_weighted',
 'top_k_accuracy',
 'v_measure_score']